<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentBean" class="com.klu.skill4.Student">

        <!-- Constructor Injection -->
        <constructor-arg value="201"/>
        <constructor-arg value="Om Prakash"/>
        <constructor-arg value="CSE"/>
        <constructor-arg value="2"/>

        <!-- Setter Injection -->
        <property name="course" value="Spring DI XML"/>
        <property name="year" value="2"/>

    </bean>

</beans>
